
table{
  width: 100%;
  table-layout: fixed;
}

.timeInput{
  width: 20%;
  white-space: nowrap;
  
}

.taskInput{
  width: 80%;
  
}

#taskInputCol{
  width: 70%;
}

#timeInputCol{
  width: 20%;
  
}

input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: rgb(252, 252, 253)
}

#countdown h1{
  height: 100px;
  width : 200px;
  font-size: 60px;
}