
table{
  width: 100%;
  table-layout: fixed;
}

.timeInput{
  width: 20%;
  white-space: nowrap;
  
}

.taskInput{
  width: 80%;
  
}

.taskInput input{
  
  background-color: rgba(255, 255, 255, 0.36)
}

.timeInput input{
  background-color: rgba(255, 255, 255, 0.36)
  
}

#taskInputCol{
  width: 60%;
}

#timeInputCol{
  width: 20%;
  
}

#taskStatusIconCol{
  width: 20%;
}

input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: rgb(252, 252, 253)
}

.deleteButton{
 
  background-color: rgb(252, 252, 253)
}

#countdown h1{
  height: 100px;
  width : 200px;
  font-size: 60px;
}

delIcon{
  height: 10%;
}

.material-icons.md-18 {
  font-size: 18px !important;
  height: 18px !important;
  width: 18px !important;
  }